.Input {
  width: 800px;
  display: flex;
  justify-content: center;
}

.Input-form {
  width: 63%;
  display: flex;
  flex-wrap: wrap;
}

.Input-form__text-field {
  width: 50%;
  flex: 0 0 100%;
}

.Input-form__button {
  width: 50%;
  flex: 0 0 85%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Input-form__submit {
  width: 90%;
}

.Input__progress {
  margin-right: 10px;
  background-color: red;
  width: 65%;
  margin-left: 17.5%;
}

.MuiLinearProgress-root-54 {
  background-color: #ccc !important;
}

.MuiLinearProgress-bar1Indeterminate-65 {
  background-color: #1a1a1a !important;
}

.MuiLinearProgress-bar2Indeterminate-66 {
  background-color: #1a1a1a !important;
}