.Repos {
  width: 800px;
  margin-top: 50px;
}

.Repo-card {
  width: 800px;
  margin: 20px 0px;
  padding: 24px;
  display: flex;
  cursor: pointer;
}

.Repo-card__data-left {
  width: 50%;
}

.Repo-card__data-right {
  width: 50%;
  text-align: right;
}

.full-name {
  font-size: 23px;
  margin-bottom: 10px;
}

.clone-url {
  font-size: 15px;
}

.stars {
  margin-bottom: 10px;
  font-size: 19px;
}